body {
    margin: 0;
    font-family: Arial, sans-serif;
    height:fit-content;
    padding-bottom: 300px;
    
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 35px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #555;
}
.proge {
    position: relative;
    left: 40px;
    font-family: Arial, sans-serif;
}
.vertical-nav  {
    width: 200px;
    background-color: #f4f4f4;
    float: left;
    padding-top: 10px;
    height: 100vh;
}
.vertical-nav a {
    display: block;
    color: rgb(11, 11, 11);
    padding: 10px;
    text-decoration: none;
    text-align: left;
}
.vertical-nav a:hover {
    background-color: #ddd;
}
a:link {
    color: #5d86bb;
  }
  a:visited {
    color: #33587c;
  }
  a:focus {
    color: #ff0000;
  }
  a:hover {
    color: #cc0007;
  }
  a:active {
    color: #8c7373;
  }
  
.content {
    width:80%;
    margin-left: 200px;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.wrapper  {
    display: flex;
}
.wrapper > div {
    flex:1;
    text-align: center;
} 
